<section class="new-post-section">
</section>

  <section>
    <ul class="post-list">
      {{#each posts as |post|}}
        <li>
          <textarea disabled class="post-title">{{post.title}}</textarea>
          <textarea disabled class="post-content">{{post.content}}</textarea>
          <button class="editlink">edit post</button>
          <button postId="{{post.id}}" class="submitlink hide">submit post</button>
          <button class="deletelink">delete post</button>
        </li>
      {{/each}}
    </ul>
  </section>


<form id="makePost"> 
    <label for="title">Title:</label>
    <input id="title" name="title" type="text">
    <label for="content">Content:</label>
    <textarea id="content" name="content"></textarea>
    <button id="createPostButton" class="btn">Create Post</button>
</form>

<script src="/js/createpost.js"></script>
<script src="/js/editpost.js"></script>


