{{#each posts}}
  <div class="post-box">
    <p class="post-title">{{title}}</p>
    <p class="post-content">{{content}}</p>
    <p class="post-meta">By: {{user.username}} on {{date}}</p>
  </div>
{{/each}}